.main,
.content {
  text-align: center;
}
.content {
  font-family: "Coustard", serif;
}
.name h1 {
  font-size: 100px;
}
.name h2 {
  font-size: 42px;
  font-family: "Coustard", serif;
  color: #00bcde;
}
nav {
  margin: 0 auto;
}
.nav {
  clear: both;
}
.nav li {
  float: left;
  padding: 10px;
  font-size: 38px;
}
/* Mixins */
