body {
	background: url(../images/pw_maze_black.png) repeat;
}

::selection {
	background: #E29700; /* Safari */
	}
::-moz-selection {
	background: #ffa500; /* Firefox */
}

a:hover {
	text-decoration: none;
}

.main {
	display: none;
	background: -moz-linear-gradient(left, hsla(188,17%,9%,0) 0%, hsla(187,16%,11%,1) 20%, hsla(186,14%,14%,1) 50%, hsla(187,16%,11%,1) 80%, hsla(188,17%,9%,0) 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,hsla(188,17%,9%,0)), color-stop(20%,hsla(187,16%,11%,1)), color-stop(50%,hsla(186,14%,14%,1)), color-stop(80%,hsla(187,16%,11%,1)), color-stop(100%,hsla(188,17%,9%,0)));
	background: -webkit-linear-gradient(left, hsla(188,17%,9%,0) 0%,hsla(187,16%,11%,1) 20%,hsla(186,14%,14%,1) 50%,hsla(187,16%,11%,1) 80%,hsla(188,17%,9%,0) 100%);
	background: -o-linear-gradient(left, hsla(188,17%,9%,0) 0%,hsla(187,16%,11%,1) 20%,hsla(186,14%,14%,1) 50%,hsla(187,16%,11%,1) 80%,hsla(188,17%,9%,0) 100%);
	background: -ms-linear-gradient(left, hsla(188,17%,9%,0) 0%,hsla(187,16%,11%,1) 20%,hsla(186,14%,14%,1) 50%,hsla(187,16%,11%,1) 80%,hsla(188,17%,9%,0) 100%);
	background: linear-gradient(to right, hsla(188,17%,9%,0) 0%,hsla(187,16%,11%,1) 20%,hsla(186,14%,14%,1) 50%,hsla(187,16%,11%,1) 80%,hsla(188,17%,9%,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00141b1c', endColorstr='#00141b1c',GradientType=1 );
	height: 100%;

}

.main, .panels {
	text-align: center;
}

.panels {
	font-family: @serifFontFamily;
}

.name {

	h1 {
		font-size: 100px;
		line-height: 100px;
		margin-bottom: -3px;
	}

	h2 {
		font-size: 42px;
		line-height: 50px;
		font-family: @serifFontFamily;
		color: @blue;
		font-weight: normal;
	}
}

.social {
	margin: 30px auto 17px;
}

.social16 {
	display:block;
	margin:5px 3px;
	height:16px;
	width:16px
}

.social32 {
	display:inline-block;
	margin:0 auto;
	height:32px;
	width:32px;
	border: 6px solid transparent;
}

.behance_icon32 {
	background:url(../images/vector-social-media/32px/behance.png) no-repeat
}

.email_icon32 {
	background:url(../images/vector-social-media/32px/email.png) no-repeat
}

.facebook_icon32 {
	background:url(../images/vector-social-media/32px/facebook.png) no-repeat
}

.flickr_icon32 {
	background:url(../images/vector-social-media/32px/flickr.png) no-repeat
}

.linkedin_icon32 {
	background:url(../images/vector-social-media/32px/linkedin.png) no-repeat
}

.twitter_icon32 {
	background:url(../images/vector-social-media/32px/twitter.png) no-repeat
}

.wordpress_icon32 {
	background:url(../images/vector-social-media/32px/wordpress.png) no-repeat
}

.github_icon32 {
	background:url(../images/vector-social-media/32px/github.png) no-repeat
}

.stackoverflow_icon32 {
	background:url(../images/vector-social-media/32px/stackoverflow.png) no-repeat
}

nav {
	margin: 0 auto;

	.nav:first-child {
		margin-bottom: 4px;
	}
}

.nav {
	clear: both;
}

.nav li {
	display: inline-block;
	margin: 0 auto;
	padding: 10px;
	font-size: 33px;
}

.panels {

	> div {
		display: none;
	}

	span {
		color: @blue;
}

}

.headshot {
	width: 217px;
	height: 217px;
	margin: 20px;
}

/* Mixins */

.background-image(@image){
	@filename:  ~`/(.*)\.(jpg|jpeg|png|gif)/.exec(@{image})[1]`;
	@extension: ~`/(.*)\.(jpg|jpeg|png|gif)/.exec(@{image})[2]`;
	background-image: ~`"url(@{filename}.@{extension})"`;

	@media (-webkit-min-device-pixel-ratio: 2) {
		background-image: ~`"url(@{filename}_2x.@{extension})"`;
		background-size: 100%;
	}
}
