!!! 5

%html.no-js{:lang => "en"}
  %head

    -# ==========================================================================
    -# Head
    -# ==========================================================================

    %meta{:charset => "utf-8"}

    %title Stuart Olivera - Web Designer & Developer
    %meta{:name => "description", :content => "Web designer & developer in Northern Virginia. Responsive & mobile websites, HTML/CSS, Javacsript, jQuery, PHP, & MySQL, Ruby, Rails, and more."}
    %meta{:name => "keywords", :content => "Website, web designer, web developer, custom applications, mobile, responsive, inexpensive, PHP, MySQL, HTML, CSS, JavaScript, jQuery, Ruby, Rails, MongoDB, CoffeeScript, LESS, SASS, web designer northern va, web designer dc metro, web developer northern va, web developer dc metro, web hosting, website hosting, web development, graphic designer, seo optimization"}
    %meta{:name => "author", :content => "Stuart Olivera"}

    -# Mobile
    -# ==========================================================================

    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1"}

    -# Favicon
    -# ==========================================================================

    %link{:href => "images/favicon.ico", :rel => "shortcut icon"}

    -# CSS
    -# ==========================================================================

    %link{:rel => "stylesheet", :href => "http://fonts.googleapis.com/css?family=PT+Sans:400,700|Coustard"}
    %link{:rel => "stylesheet", :href => "css/screen.css"}

    -# IE Fixes
    -# ==========================================================================

    -#
    -# Use HTML5 Shim polyfill if not using Modernizr
    -# Compiled IE stylesheets for legacy IE "Mobile first" support (using SASS)
    -# nicolasgallagher.com/mobile-first-css-sass-and-ie/
    -#

    /[if (lt IE 9) & (!IEMobile)]
      %script{:src => "//html5shim.googlecode.com/svn/trunk/html5.js"}
      %script{:src => "javascript/respond.min.js"}

    :javascript
      document.getElementsByTagName("html")[0].className = document.getElementsByTagName("html")[0].className.replace("no-js","js");

    :javascript
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-5314102-23', 'auto');
      ga('send', 'pageview');

  %body

    -# ==========================================================================
    -# Content
    -# ==========================================================================

    .container

      .main
        .content
          .name
            %h1 Stuart Olivera
            %h2 Designer &amp; Developer

          .social
            %a.social32.github_icon32{:href => "http://github.com/sman591"}
            %a.social32.stackoverflow_icon32{:href => "http://stackoverflow.com/users/237098/sman591"}
            %a.social32.linkedin_icon32{:href => "http://linkedin.com/in/stuartolivera"}
            %a.social32.behance_icon32{:href => "http://www.behance.net/stuartolivera"}
            %a.social32.twitter_icon32{:href => "http://twitter.com/stuartolivera"}
            %a.social32.flickr_icon32{:href => "http://www.flickr.com/photos/stuartolivera/"}
            %a.social32.facebook_icon32{:href => "http://facebook.com/stuartolivera"}

          %nav
            .nav
              %li.active
                %a{:href => "#home"} Home
              %li -
              %li
                %a{:href => "#about"} About
              %li -
              %li
                %a{:href => "#portfolio"} Portfolio

            .nav
              %li
                %a{:href => "#services"} Services
              %li -
              %li
                %a{:href => "#contact"} Contact

      .panels
        .home{ :data => { :hash => "home" } }

        .about{ :data => { :hash => "about" } }

          %img.headshot{:src => "images/stuart.jpg"}

          %p Hey, I'm <span>Stuart</span>! I'm 18 years old and have a growing passion for  <span>designing</span> &amp; <span>building</span> fantastic websites.

          %p I've worked with a variety of languages and frameworks over the past 7 years, including:  <span>PHP</span>, <span>MySQL</span>, <span>JavaScript</span>, <span>jQuery</span>, <span>CSS</span>, <span>HTML</span>, <span>Ruby on Rails</span>, <span>MongoDB</span>, and <span>Backbone.js</span>. (<a href="#about-experience">view full list</a>)

          %p I live in the <span>Northern Virginia</span> area, but this doesn't limit me to who I can work with! Anyone from around the world that speaks English can request my <a href="#services">services</a>.

        .portfolio{ :data => { :hash => "portfolio" } }

          %p My portfolio can be accessed <a href="http://www.behance.net/stuartolivera">here &raquo;</a>

          %p
            If you're into open source, check out my <a href="http://github.com/sman591">GitHub profile &raquo;</a>
            %br (<a href="http://github.com/sman591/stuartolivera.com">this website</a> is up there, too!)

        .services{ :data => { :hash => "services" } }

          %h2 Web Design &amp; Development

          %p Websites these days aren't just a compilation of text on a screen. Many factors play a key part in modern websites, from the base design to unique methods of user interaction.

          %p Every piece of my work exemplifies quality time and effort to create a better internet experience for everyone, while still getting the word out.

          %p None of this is a chore for me: I enjoy the challenges each project presents, letting my creativity and experience push each project to future standards.

        .contact{ :data => { :hash => "contact" } }

          %p Looking for my services? Have a question? Just want to chat? Here's the place to do just that.

          %br/

          %form#contactForm.form-horizontal{:action => "contact.php", :method => "post"}
            .form_user
              %label{:for => "username"} Username
              %input{:type => "text", :name=> "username"}
            .control-group
              %label.control-label{:for => "contactName"} Name
              .controls
                %input#contactName{:type => "text", :name => "name", :placeholder => "Name"}
            .control-group
              %label.control-label{:for => "contactEmail"} Email
              .controls
                %input#contactEmail{:type => "text", :name => "email", :placeholder => "Email"}
            .control-group
              %label.control-label{:for => "contactSubject"} Subject
              .controls
                %select#contactSubject{:name => "subject"}
                  %option Please choose...
                  %option{:value => "Requesting Services"} Requesting Services
                  %option{:value => "Requesting Support"} Requesting Support
                  %option{:value => "I Have A Question"} I Have A Question
                  %option{:value => "Just Want To Chat"} Just Want To Chat
                  %option{:value => "Other"} Other
            .control-group
              %label.control-label{:for => "contactComments"} Comments
              .controls
                %textarea#contactName{:name => "comments", :placeholder => "Comments", :rows => "7"}
            .control-group.actions
              .controls
                %button.btn.btn-primary{:type => "submit"} Send

    .modals

      .experience.modal.hide.fade{ :data => { :hash => "experience" } }
        .modal-header
          %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times;
          %h3 Experience
        .modal-body
          .row-fluid
            .span6
              %p
                %strong Languages:
              %ul
                %li HTML
                %li CSS
                %li JavaScript
                %li PHP
                %li Ruby
                %li Java
              %p
                %strong Databases:
              %ul
                %li MySQL
                %li MongoDB
              %p
                %strong Tools:
              %ul
                %li Git
                %li Photoshop
            .span6
              %p
                %strong Frameworks:
              %ul
                %li jQuery
                %li Ruby on Rails
                %li Backbone.js
                %li Ember.js
                %li WordPress
                %li Bootstrap
              %p
                %strong Pre-Compilers:
              %ul
                %li SASS
                %li LESS
                %li Haml
                %li CofeeScript

        .modal-footer
          %a.btn{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} Close

    .stripes
      %br/


    -# JS
    -# ==========================================================================

    -# jQuery

    %script{:src => "//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"}
    :javascript
      window.jQuery || document.write('<script src="javascript/jquery-1.10.1.min.js"><\/script>')

    %script{:src => "javascript/jquery.ba-hashchange.min.js"}
    %script{:src => "javascript/jquery.fittext.js"}
    %script{:src => "javascript/jquery.form.min.js"}
    %script{:src => "javascript/bootstrap.min.js"}

    -# Custom JS

    %script{:src => "javascript/app.js"}
