!!! 5

%html.no-js{:lang => "en"}
  %head

    -# ==========================================================================
    -# Head
    -# ==========================================================================

    %meta{:charset => "utf-8"}

    %title Stuart Olivera - Web Designer & Developer
    %meta{:name => "description", :content => "Web designer & developer in Northern Virginia. Responsive & mobile websites, HTML/CSS, Javacsript, jQuery, PHP, & MySQL, Ruby, Rails, and more."}
    %meta{:name => "keywords", :content => "Website, web designer, web developer, custom applications, mobile, responsive, inexpensive, PHP, MySQL, HTML, CSS, JavaScript, jQuery, Ruby, Rails, MongoDB, CoffeeScript, LESS, SASS, web designer northern va, web designer dc metro, web developer northern va, web developer dc metro, web hosting, website hosting, web development, graphic designer, seo optimization"}
    %meta{:name => "author", :content => "Stuart Olivera"}

    -# Mobile
    -# ==========================================================================

    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1"}

    -# Favicon
    -# ==========================================================================

    %link{:href => "images/favicon.ico", :rel => "shortcut icon"}

    -# CSS
    -# ==========================================================================

    %link{:rel => "stylesheet", :href => "//fonts.googleapis.com/css?family=PT+Sans:400,700|Coustard"}
    %link{:rel => "stylesheet", :href => "css/screen.css"}

    -# IE Fixes
    -# ==========================================================================

    -#
    -# Use HTML5 Shim polyfill if not using Modernizr
    -# Compiled IE stylesheets for legacy IE "Mobile first" support (using SASS)
    -# nicolasgallagher.com/mobile-first-css-sass-and-ie/
    -#

    /[if (lt IE 9) & (!IEMobile)]
      %script{:src => "//html5shim.googlecode.com/svn/trunk/html5.js"}
      %script{:src => "js/respond.min.js"}

    :javascript
      document.getElementsByTagName("html")[0].className = document.getElementsByTagName("html")[0].className.replace("no-js","js");

    :javascript
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-5314102-23', 'auto');
      ga('send', 'pageview');
    :javascript
      !function(g,s,q,r,d){r=g[r]=g[r]||function(){(r.q=r.q||[]).push(
      arguments)};d=s.createElement(q);q=s.getElementsByTagName(q)[0];
      d.src='//d1l6p2sc9645hc.cloudfront.net/tracker.js';q.parentNode.
      insertBefore(d,q)}(window,document,'script','_gs');

      _gs('GSN-113011-U');

  %body

    -# ==========================================================================
    -# Content
    -# ==========================================================================

    .container

      .main
        .content
          .name
            %h1 Stuart Olivera
            %h2 Designer &amp; Developer

          .social
            %a.social32.github_icon32{:href => "http://github.com/sman591"}
            %a.social32.stackoverflow_icon32{:href => "http://stackoverflow.com/users/237098/sman591"}
            %a.social32.linkedin_icon32{:href => "http://linkedin.com/in/stuartolivera"}
            %a.social32.behance_icon32{:href => "http://www.behance.net/stuartolivera"}
            %a.social32.twitter_icon32{:href => "http://twitter.com/stuartolivera"}
            %a.social32.flickr_icon32{:href => "http://www.flickr.com/photos/stuartolivera/"}
            %a.social32.facebook_icon32{:href => "http://facebook.com/stuartolivera"}

          %nav
            .nav
              %li.active
                %a{:href => "#home"} Home
              %li -
              %li
                %a{:href => "#about"} About
              %li -
              %li
                %a{:href => "#portfolio"} Portfolio

            .nav
              %li
                %a{:href => "#services"} Services
              %li -
              %li
                %a{:href => "#contact"} Contact

      .panels
        .home{ :data => { :hash => "home" } }

        .about{ :data => { :hash => "about" } }

          %img.headshot{:src => "images/stuart.jpg"}

          %p Hey, I'm <span>Stuart</span>! I'm a student at the Rochester Institute of Technology and have a growing passion for  <span>designing</span> &amp; <span>building</span> fantastic websites.

          %p I've worked with a variety of languages and frameworks over the past 8 years, including:  <span>Ruby on Rails</span>, <span>JavaScript</span>, <span>jQuery</span>, <span>PHP</span>, <span>MySQL</span>, <span>CSS</span>, <span>HTML</span>, <span>MongoDB</span>, and <span>Backbone.js</span>.&nbsp;&nbsp;&nbsp;<a href="#about-experience">view full list</a> | <a href="https://sman591.github.io/resume/">resume</a>

          %p I'm from the <span>Northern Virginia</span> area and go to school in <span>Rochester, NY</span>, however I'm also available for remote work and temporary relocation.

        .portfolio{ :data => { :hash => "portfolio" } }

          %p
            %a{:href => "https://www.behance.net/stuartolivera"} Portfolio &raquo;

          %p
            %a{:href => "https://sman591.github.io/resume/"} Resume &raquo;

          %p
            %a{:href => "https://github.com/sman591"} GitHub profile &raquo;

        .services{ :data => { :hash => "services" } }

          %h2 Web Design &amp; Development

          %p Websites these days aren't just a compilation of text on a screen. Many factors play a key part in modern websites, from the base design to unique methods of user interaction.

          %p Every piece of my work exemplifies quality time and effort to create a better internet experience for everyone, while still getting the word out.

          %p None of this is a chore for me: I enjoy the challenges each project presents, letting my creativity and experience push each project to future standards.

        .contact{ :data => { :hash => "contact" } }

          %p Looking for my services? Have a question? Just want to chat? Here's the place to do just that.

          %p
            %a{ :href => "mailto:stuart@stuartolivera.com" } stuart@stuartolivera.com

    .modals

      .experience.modal.hide.fade{ :data => { :hash => "experience" } }
        .modal-header
          %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times;
          %h3 Experience
        .modal-body
          .row-fluid
            .span6
              %p
                %strong Languages:
              %ul
                %li HTML
                %li CSS
                %li JavaScript
                %li Ruby
                %li PHP
                %li Python
                %li Swift
                %li C
                %li Java
                %li Bash/Unix Shell Scripting
              %p
                %strong Databases:
              %ul
                %li MySQL
                %li MongoDB
              %p
                %strong Tools:
              %ul
                %li Git
                %li Photoshop
                %li Sketch
                %li Sublime Text
            .span6
              %p
                %strong Frameworks:
              %ul
                %li jQuery
                %li Ruby on Rails
                %li Meteor
                %li AngularJS
                %li Backbone.js
                %li Ember.js
                %li WordPress
                %li Bootstrap
                %li Middleman
                %li Grunt
                %li Node + Express
              %p
                %strong Pre-Compilers:
              %ul
                %li SASS
                %li LESS
                %li Haml
                %li Jade
                %li CofeeScript


        .modal-footer
          %a.btn{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} Close

    .stripes
      %br/


    -# JS
    -# ==========================================================================

    -# jQuery

    %script{:src => "//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"}
    :javascript
      window.jQuery || document.write('<script src="js/jquery-1.10.1.min.js"><\/script>')

    %script{:src => "js/jquery.ba-hashchange.min.js"}
    %script{:src => "js/jquery.fittext.js"}
    %script{:src => "js/jquery.form.min.js"}
    %script{:src => "js/bootstrap.min.js"}

    -# Custom JS

    %script{:src => "js/app.js"}
